{% extends "base.html" %}
{% block title %}
    <title>{{cliente.nombre}}</title>
{% endblock %}
{% block content %}
{% if user.username == 'admin' %}
  <h1>DNI: {{cliente.dni}}</h1>
{% else %}
<span class="badge bg-warning"><h3>Por motivos de seguridad y de protección de datos se ha ocultado el DNI.</h3></span>
{% endif %}
  <p><b>Nombre : </b>{{cliente.nombre}}
  <br><b>Apellidos : </b> {{cliente.apellidos}}
  <br><b>Vehiculo: </b> {{cliente.vehiculo}}
{% if cliente.plaza == None %}
  <br><b>Plaza de garaje :</b> No tiene plaza
{% else %}
  <br><b>Plaza de garaje : </b>{{cliente.plaza}}
  <br><b>Dimensiones de la plaza : </b>{{cliente.plaza.dimensiones}}</p>
  {% if user.username == 'admin' %}      
  <span class="badge bg-secondary"><a href={% url 'modificar_cliente' cliente.dni %}> [<-- Editar -->] </a></span>
  {% endif %}
{% endif %}  
{% endblock %}