{% extends "base.html" %}
{% block title %}
    <title>ApparcaZgz</title>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

{% endblock %}
{% block content %}
    <h1>Apparking</h1>
    <strong>Visitas: {{visitas}}</strong>

    <h2 class="mt-4">Plazas disponibles: {{ num_disponibles }}</h2>
    <div>
        <p>Con Apparking, gestionarás el parking de tu comunidad de vecinos con un simple Click.
        <br> Fácil y rápido de utilizar, comprobarás en segundos las plazas disponibles para los nuevos vecinos. 
        <br>Apparking está configurado personalmente para ti, ajustamos el plano a tus necesidades.</p>
    </div>
    <div>
        <h3>Accesos y salidas</h3>
        <p>Lunes a Domingo.....................24h</p>
        <h3>Vehiculo</h3>
        <p>Altura máxima.................. 3 metros</p>
        <h3>Servicios</h3>
        <ul>
            <li>Acceso para minusválidos</li>
            <li>Cámaras de Seguridad</li>
            <li>Ascensor</li>
        </ul>
    </div>
    <h2>Donde estamos:</h2>
    <div id="mapa"></div>
    <br><br>
{% endblock %}
{% block extrajs %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script>
    var mimapa = L.map('mapa').setView([41.652099,-0.8847823], 18);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
    {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(mimapa);

    L.marker([41.652099,-0.8847823]).addTo(mimapa).bindPopup("Apparcazgz");

</script>
{% endblock %}